logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
.settings/
.target/
.cache

test/.DS_Store
.DS_Store

conf/application.conf

conf/application.conf
