
@main("Pollution Propagation") {
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit" style="padding:0px;">
        <p>
        	@map()
        </p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Pollution Sources</h2>
           <p>Who pollutes the Los Angeles area?</p>
           <input type="checkbox" id="airportcheck"> Show Airports<br/>
           <input type="checkbox" id="crematorycheck"> Show Crematories<br/>
           <input type="checkbox" id="drycleanercheck"> Show Dry Cleaners<br/>
           <input type="checkbox" id="landfillcheck"> Show Landfill Methane<br/>
           <input type="checkbox" id="militarybasecheck"> Show Military Base<br/>
           <input type="checkbox" id="oilfieldcheck"> Show Oil Fields<br/>
           <input type="checkbox" id="oilwellcheck"> Show Oil Well Sites<br/>
           <input type="checkbox" id="refinerycheck"> Show Refineries<br/>
           <input type="checkbox" id="superfundcheck"> Show Superfund Sites<br/>
           <input type="checkbox" id="wastewatercheck"> Show Wastewater Treatment Plants<br/>
           <br/>
           <input type="checkbox" id="pollutioncheck"> Show Pollution Radii<br/>
           
        </div>
        <div class="span4">
          <h2>Vulnerable Points</h2>
           <p>What places in the community are especially sensitive to pollution?</p>
           <input type="checkbox" id="schoolcheck"> Show Schools<br/>
           <input type="checkbox" id="hospitalcheck"> Show Hospitals<br/>
           <input type="checkbox" id="parkcheck"> Show Parks<br/>
       </div>
        <div class="span4">
          <h2>Propagation Model</h2>
          <input type="checkbox" id="windcheck"> Show Wind Data <br/>
          Date:<br/>
          <input type="text" id="datetime" style="border: 0; color: #aaaaa; font-weight: bold;" /><br/>
		  <div id="timeslider" style="background:grey; width:180px;"></div>
        </div>
      </div>
    }
    
<script>
// initialize the time slider, for wind propagation
$(function() {
	// Represents the milliseconds from epoch, in 3 hour intervals
    $( "#timeslider" ).slider({
      value: 1369958400000,
      min: 1369958400000,
      max: 1370131200000,
      step: 10800000,
      slide: function( event, ui ) {
        $( "#datetime" ).val( moment(ui.value).format("YYYY/MM/DD+HH:mm") );
      }
    });
    $( "#datetime" ).val( moment($("#timeslider").slider("value")).format("YYYY/MM/DD+HH:mm") );
    
    $("#airportcheck").change(function() {
     	var show = $(this).is(":checked"); 
     	console.log(show);
     	console.log(typeof show);
     	for (var i=0;i<airportMarkers.length;i++) {
     		airportMarkers[i].setVisible(show);
     	}
   	});
    $("#crematorycheck").change(function() {
     	var show = $(this).is(":checked"); 
     	console.log(show);
     	console.log(typeof show);
     	for (var i=0;i<crematoryMarkers.length;i++) {
     		crematoryMarkers[i].setVisible(show);
     	}
   	});
    $("#drycleanercheck").change(function() {
     	var show = $(this).is(":checked"); 
     	console.log(show);
     	console.log(typeof show);
     	for (var i=0;i<drycleanerMarkers.length;i++) {
     		drycleanerMarkers[i].setVisible(show);
     	}
   	});
    $("#landfillcheck").change(function() {
     	var show = $(this).is(":checked"); 
     	console.log(show);
     	console.log(typeof show);
     	for (var i=0;i<landfillMarkers.length;i++) {
     		landfillMarkers[i].setVisible(show);
     	}
   	});
    $("#militarybasecheck").change(function() {
     	var show = $(this).is(":checked"); 
     	console.log(show);
     	console.log(typeof show);
     	for (var i=0;i<militarybaseMarkers.length;i++) {
     		militarybaseMarkers[i].setVisible(show);
     	}
   	});
    $("#oilfieldcheck").change(function() {
     	var show = $(this).is(":checked"); 
     	console.log(show);
     	console.log(typeof show);
     	for (var i=0;i<oilfieldMarkers.length;i++) {
     		oilfieldMarkers[i].setVisible(show);
     	}
   	});
    $("#oilwellcheck").change(function() {
     	var show = $(this).is(":checked"); 
     	console.log(show);
     	console.log(typeof show);
     	for (var i=0;i<oilwellMarkers.length;i++) {
     		oilwellMarkers[i].setVisible(show);
     	}
   	});
    $("#refinerycheck").change(function() {
     	var show = $(this).is(":checked"); 
     	console.log(show);
     	console.log(typeof show);
     	for (var i=0;i<refineryMarkers.length;i++) {
     		refineryMarkers[i].setVisible(show);
     	}
   	});
    $("#superfundcheck").change(function() {
     	var show = $(this).is(":checked"); 
     	console.log(show);
     	console.log(typeof show);
     	for (var i=0;i<superfundMarkers.length;i++) {
     		superfundMarkers[i].setVisible(show);
     	}
   	});
    $("#wastewatercheck").change(function() {
     	var show = $(this).is(":checked"); 
     	console.log(show);
     	console.log(typeof show);
     	for (var i=0;i<wastewaterMarkers.length;i++) {
     		wastewaterMarkers[i].setVisible(show);
     	}
   	});

    $("#pollutioncheck").change(function() {
     	var show = $(this).is(":checked"); 
     	for (var i=0;i<pollutionMarkers.length;i++) {
     		pollutionMarkers[i].setVisible(show);
     	}
   	});
   	
    $("#schoolcheck").change(function() {
     	var show = $(this).is(":checked"); 
     	for (var i=0;i<schoolMarkers.length;i++) {
     		schoolMarkers[i].setVisible(show);
     	}
   	});
    $("#hospitalcheck").change(function() {
     	var show = $(this).is(":checked"); 
     	for (var i=0;i<hospitalMarkers.length;i++) {
     		hospitalMarkers[i].setVisible(show);
     	}
   	});
    $("#parkcheck").change(function() {
     	var show = $(this).is(":checked"); 
     	for (var i=0;i<parkMarkers.length;i++) {
     		parkMarkers[i].setVisible(show);
     	}
   	});
   	
});

// Calculates the pixel weight of the pollution
function scalePollution(pollution) {
	var logPollution = 2*Math.log(pollution);
	if (logPollution > 40) logPollution = 40; 
	return logPollution;
}


// Initialize the pollution data
function loadSourceJSON() {
	console.log("loading?");

	// The array of scaled pollution circles 
	pollutionMarkers = []
	
	airportMarkers = []
	d3.json("@routes.Assets.at("data/pollute/airports.json")", function(data) {
		console.log("loading airport data");
		for (k in data) {
			var marker = new google.maps.Marker({
		  			position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
		  			map:map,
		  			icon: airportIcon,
		  			title: k,
		  			visible: false,
		  			content: '<div name="title">' + k +'</div><br/>' + '<div name="description">' + data[k].desc +'</div>'
			});			  
			airportMarkers.push(marker);
			
			var pollutionMarker = new google.maps.Marker({
  				position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
  				map: map,
  				icon: {
    				path: google.maps.SymbolPath.CIRCLE,
    				fillOpacity: 0.5,
    				fillColor: 'F88017',
            strokeOpacity: 1.0,
    				strokeColor: 'fff000',
    				strokeWeight: 3.0, 
    				scale: scalePollution(data[k].pollution) //pixels
  				},
	  			visible: false,
			});
			pollutionMarkers.push(pollutionMarker);	
   	}
    console.log("done airport data");
   });

   crematoryMarkers = []
   d3.json("@routes.Assets.at("data/pollute/cremation.json")", function(data) {
     console.log("loading crematory data");
     for (k in data) {
       var marker = new google.maps.Marker({
             position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
             map:map,
             icon: crematoryIcon,
             title: k,
             visible: false,
		  			 content: '<div name="title">' + k +'</div><br/>' + '<div name="description">' + data[k].desc +'</div>'
       });
       crematoryMarkers.push(marker);

       var pollutionMarker = new google.maps.Marker({
           position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
           map: map,
           icon: {
             path: google.maps.SymbolPath.CIRCLE,
             fillOpacity: 0.5,
             fillColor: 'F88017',
            strokeOpacity: 1.0,
    				strokeColor: 'fff000',
    				strokeWeight: 3.0, 
    				scale: scalePollution(data[k].pollution) //pixels
  				},
	  			visible: false,
			});
			pollutionMarkers.push(pollutionMarker);	
   	}
    console.log("done crematory data");
   });

   oilfieldMarkers = []
   d3.json("@routes.Assets.at("data/pollute/oil_field.json")", function(data) {
     console.log("loading oilfield data");
     for (k in data) {
       var marker = new google.maps.Marker({
             position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
             map:map,
             icon: oilfieldIcon,
             title: k,
             visible: false,
             content: '<div name="title">' + k +'</div><br/>' + '<div name="description">' + data[k].desc +'</div>'
       });
       oilfieldMarkers.push(marker);

       var pollutionMarker = new google.maps.Marker({
           position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
           map: map,
           icon: {
             path: google.maps.SymbolPath.CIRCLE,
             fillOpacity: 0.5,
             fillColor: 'F88017',
            strokeOpacity: 1.0,
    				strokeColor: 'fff000',
    				strokeWeight: 3.0, 
    				scale: scalePollution(data[k].pollution) //pixels
  				},
	  			visible: false,
			});
			pollutionMarkers.push(pollutionMarker);	
   	}
    console.log("done oilfield data");
   });

   oilwellMarkers = []
   d3.json("@routes.Assets.at("data/pollute/_oil_wells.json")", function(data) {
     console.log("loading oilwell data");
     for (k in data) {
       var marker = new google.maps.Marker({
             position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
             map:map,
             icon: oilwellIcon,
             title: k,
             visible: false,
             content: '<div name="title">' + k +'</div><br/>' + '<div name="description">' + data[k].desc +'</div>'
       });
       oilwellMarkers.push(marker);
   	}
    console.log("done oilfield data");
   });

   superfundMarkers = []
   d3.json("@routes.Assets.at("data/pollute/_superfund.json")", function(data) {
     console.log("loading superfund data");
     for (k in data) {
       var marker = new google.maps.Marker({
             position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
             map:map,
             icon: superfundIcon,
             title: k,
             visible: false,
             content: '<div name="title">' + k +'</div><br/>' + '<div name="description">' + data[k].desc +'</div>'
       });
       superfundMarkers.push(marker);

    }
    console.log("done superfund data");
   });

   wastewaterMarkers = []
   d3.json("@routes.Assets.at("data/pollute/wastewater_treatment.json")", function(data) {
     console.log("loading wastewater data");
     for (k in data) {
       var marker = new google.maps.Marker({
             position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
             map:map,
             icon: wastewaterIcon,
             title: k,
             visible: false,
             content: '<div name="title">' + k +'</div><br/>' + '<div name="description">' + data[k].desc +'</div>'
       });
       wastewaterMarkers.push(marker);

       var pollutionMarker = new google.maps.Marker({
           position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
           map: map,
           icon: {
             path: google.maps.SymbolPath.CIRCLE,
             fillOpacity: 0.5,
             fillColor: 'F88017',
             strokeOpacity: 1.0,
             strokeColor: 'fff000',
             strokeWeight: 3.0,
             scale: scalePollution(data[k].pollution) //pixels
          },
          visible: false,
      });
      pollutionMarkers.push(pollutionMarker);
    }
    console.log("done wastewater data");
   });

   refineryMarkers = []
   d3.json("@routes.Assets.at("data/pollute/refinery.json")", function(data) { 
     console.log("loading refinery data");
     for (k in data) {
       var marker = new google.maps.Marker({
             position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
             map:map,
             icon: refineryIcon,
             title: k,
             visible: false,
             content: '<div name="title">' + k +'</div><br/>' + '<div name="description">' + data[k].desc +'</div>'
       });
       refineryMarkers.push(marker);

       var pollutionMarker = new google.maps.Marker({
           position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
           map: map,
           icon: {
             path: google.maps.SymbolPath.CIRCLE,
             fillOpacity: 0.5,
             fillColor: 'F88017',
             strokeOpacity: 1.0,
             strokeColor: 'fff000',
             strokeWeight: 3.0,
             scale: scalePollution(data[k].pollution) //pixels
          },
          visible: false,
      });
      pollutionMarkers.push(pollutionMarker);
    }
    console.log("done refinery data");
   });

   militarybaseMarkers = []
   d3.json("@routes.Assets.at("data/pollute/militarybase.json")", function(data) {
     console.log("loading militarybase data");
     for (k in data) {
       var marker = new google.maps.Marker({
             position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
             map:map,
             icon: militarybaseIcon,
             title: k,
             visible: false,
             content: '<div name="title">' + k +'</div><br/>' + '<div name="description">' + data[k].desc +'</div>'
       });
       militarybaseMarkers.push(marker);

       var pollutionMarker = new google.maps.Marker({
           position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
           map: map,
           icon: {
             path: google.maps.SymbolPath.CIRCLE,
             fillOpacity: 0.5,
             fillColor: 'F88017',
             strokeOpacity: 1.0,
             strokeColor: 'fff000',
             strokeWeight: 3.0,
             scale: scalePollution(data[k].pollution) //pixels
          },
          visible: false,
      });
      pollutionMarkers.push(pollutionMarker);
    }
    console.log("done militarybase data");
   });

   landfillMarkers = []
   d3.json("@routes.Assets.at("data/pollute/landfill.json")", function(data) {
     console.log("loading landfill data");
     for (k in data) {
       var marker = new google.maps.Marker({
             position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
             map:map,
             icon: landfillIcon,
             title: k,
             visible: false,
             content: '<div name="title">' + k +'</div><br/>' + '<div name="description">' + data[k].desc +'</div>'
       });
       landfillMarkers.push(marker);

       var pollutionMarker = new google.maps.Marker({
           position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
           map: map,
           icon: {
             path: google.maps.SymbolPath.CIRCLE,
             fillOpacity: 0.5,
             fillColor: 'F88017',
             strokeOpacity: 1.0,
             strokeColor: 'fff000',
             strokeWeight: 3.0,
             scale: scalePollution(data[k].pollution) //pixels
          },
          visible: false,
      });
      pollutionMarkers.push(pollutionMarker);
    }
    console.log("done landfill data");
   });

   drycleanerMarkers = []
   d3.json("@routes.Assets.at("data/pollute/drycleaner.json")", function(data) {
     console.log("loading drycleaner data");
     for (k in data) {
       var marker = new google.maps.Marker({
             position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
             map:map,
             icon: drycleanerIcon,
             title: k,
             visible: false,
             content: '<div name="title">' + k +'</div><br/>' + '<div name="description">' + data[k].desc +'</div>'
       });
       drycleanerMarkers.push(marker);

       var pollutionMarker = new google.maps.Marker({
           position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
           map: map,
           icon: {
             path: google.maps.SymbolPath.CIRCLE,
             fillOpacity: 0.5,
             fillColor: 'F88017',
             strokeOpacity: 1.0,
             strokeColor: 'fff000',
             strokeWeight: 3.0,
             scale: scalePollution(data[k].pollution) //pixels
          },
          visible: false,
      });
      pollutionMarkers.push(pollutionMarker);
    }
    console.log("done drycleaner data");
   });

}

// The source information
// Note: the d3.json calls should be ajax requests :(
function loadTargetJSON() {

  var marker = new google.maps.Marker({
		position: new google.maps.LatLng(34.042639,-118.222306),
		map:map,
  				icon: {
    				path: google.maps.SymbolPath.CIRCLE,
    				fillOpacity: 0,
    				fillColor: '000000',
            strokeOpacity: 80,
    				strokeColor: 'A00000',
    				strokeWeight: 3, 
    				scale: 20
  				},
		title: 'You are here',
		visible: true,
		scale: 1,
		content: '<div name="title">You are here</div><br/>' + '<div name="description">If you are lost, call Ted on his Burner, 323-400-6585</div>'
	});			  

	console.log("loading?");

	schoolMarkers = []
	d3.json("@routes.Assets.at("data/affected/schools.json")", function(data) {
		console.log("loading school data");
		for (k in data) {
			var schoolMarker = new google.maps.Marker({
		  			position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
		  			map:map,
		  			icon: schoolIcon,
		  			title: k,
		  			visible: false,
		  			content: '<div name="title">' + k +'</div><br/>' + '<div name="description">' + data[k].desc +'</div>'
			});			  
			schoolMarkers.push(schoolMarker);
		}
		console.log("done loading school data");
		//schoolMarkerCluster = new MarkerClusterer(map, schoolMarkers);
	});
	
	parkMarkers = [];
	d3.json("@routes.Assets.at("data/affected/parks.json")", function(data) {
		console.log("loading park data");
		for (k in data) {
			var marker = new google.maps.Marker({
		  			position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
		  			map:map,
		  			icon: parkIcon,
		  			title: k,
		  			visible: false,
		  			content: '<div name="title">' + k +'</div><br/>' + '<div name="description">' + data[k].desc +'</div>'
			});			  
			parkMarkers.push(marker);
		}
		console.log("done loading park data");
	});
	
	hospitalMarkers = [];
	d3.json("@routes.Assets.at("data/affected/hospitals.json")", function(data) {
		console.log("loading hospital data");
		for (k in data) {
			var marker = new google.maps.Marker({
		  			position: new google.maps.LatLng(data[k].coord[0], data[k].coord[1]),
		  			map:map,
		  			icon: hospitalIcon,
		  			title: k,
		  			visible: false,
		  			content: '<div name="title">' + k +'</div><br/>' + '<div name="description">' + data[k].desc +'</div>'
			});			  
			hospitalMarkers.push(marker);
		}
		console.log("done hospital park data");
	});
}
</script>

